.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Spoqa Han Sans', sans-serif;
}

.card.abnormal {
    /*border: 2px solid red;*/
    background-color: #efaaaa;
}


.card.normal {
    /*border: 2px solid green;*/
    background-color: #b6f6b6;
}

.card-status {
    font-size: 20px;
}
