.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: 'Spoqa Han Sans', sans-serif;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.log_button {
    padding: 10px 20px;
    background-color: #99daff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

.log_button:hover {
    background-color: #77caff;
}
