.health-result {
    text-align: center;
}

.user-status {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #99daff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #99daff;
    padding: 20px;
    border-radius: 10px;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px !important;
}
.recommend-card:hover {
    transform: translateY(-5px); /* 호버 시 카드가 약간 위로 움직입니다 */
}

.next-button {
    background-color: #FFFCB9;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
}

.next-button:hover {
    background-color: #fdf76a;
}
