.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-size: 40px;
    background-color: #99daff;
}

.loading-text {
    margin-bottom: 40px;
    color: white;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
