.recommend-container {
    text-align: center;
    padding: 20px;
}

.user-status {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #99daff;
    padding: 20px;
    border-radius: 10px;
    max-width: 960px;
    margin: 0 auto;
}

.recommend-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

/*.recommend-card:hover {
    transform: scale(1.05);
}*/

.recommendation-loading, .recommendation-error, .recommendation-result {
    font-size: 20px;
    color: #555;
    font-weight: bold;

}

.confirm-button {
    background-color: #FFFCB9;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #fdf76a;
}
