.recommend-container {
    text-align: center;
    padding: 20px;
}

.user-status {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recommendations {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #99daff;
    padding: 20px;
    border-radius: 10px;
    max-width: 960px;
    margin: 0 auto;
    height: 500px;
}

.recommend-card {
    background-color: #fffbea;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.highlight {
    font-weight: bold;
    color: #ff6b6b;
    margin-bottom: 10px;
}

.confirm-button {
    background-color: #fffbea;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.confirm-button:hover {
    background-color: #ffeb3b;
}
